@import url("https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:400");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  height: 100%;
} /*16px*/

:root {
  --primary-100: #cee5ef;
  --primary-200: #9dccde;
  --primary-300: #6db2ce;
  --primary-400: #3c99bd;
  --primary-500: #0b7fad;
  --primary-600: #09668a;
  --primary-700: #074c68;
  --primary-800: #043345;
  --primary-900: #021923;
  --react-color: #1399c4;
  --white: #fff;
  --black: #000;
  /* fonts  */
  --bodyFont: "Open Sans", sans-serif;
  --headingFont: "Raleway", sans-serif;
  /* grey colors  */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --transition: 0.2s all linear;
  --letter-spacing: 1px;
  --border-radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 700px;
  --error-alert: #ca322b;
  --green-alert: #d4edda;
  --darkModeTransition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

/* global styles  */

body {
  background: var(--grey-50);
  color: var(--grey-900);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  transition: var(--darkModeTransition);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
}

/*
************
Custom Styles
************
*/
.btn {
  text-transform: capitalize;
  border: transparent;
  background: var(--primary-500);
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  color: var(--white);
  transition: var(--transition);
  box-shadow: var(--shadow-1);
  cursor: pointer;
  font-size: 0.875rem;
}

.btn:hover {
  background: var(--primary-600);
  box-shadow: var(--shadow-3);
}

/*
************
React Projects
************
*/
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-parent {
  margin-top: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--react-color);
  animation: spinner 0.9s linear infinite;
}

/*
************
Hero
************
*/
.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5rem;
  background: var(--white);
  min-height: 30vh;
  margin-bottom: 1rem;
}

.hero-center {
  max-width: var(--max-width);
  width: 95%;
  display: grid;
  place-items: center;
}

.img-container {
  display: none;
}

.hero-title h1 {
  font-weight: bold;
  color: var(--react-color);
  letter-spacing: var(--letter-spacing);
}

.hero-title p {
  max-width: 36rem;
  color: var(--grey-600);
}

@media (min-width: 768px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
  }
  .img-container {
    display: block;
  }
}
/*
************
Projects
************
*/
.projects {
  padding: 5rem 0;
}

.section-title h3 {
  letter-spacing: var(--letter-spacing);
  color: var(--react-color);
  font-weight: 700;
  text-align: center;
}

.underline {
  width: 5rem;
  height: 0.175rem;
  margin: -1rem auto 2rem auto;
  background: var(--react-color);
}

.project-items {
  max-width: var(--max-width);
  width: 95%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 358px), 1fr));
}

.project {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.project:hover {
  box-shadow: var(--shadow-3);
  transform: scale(1.03);
}

.project:hover .project-info h4 {
  font-weight: bold;
}

.project img {
  height: 20rem;
  width: 100%;
  /* height: 100%; */
  object-fit: scale-down;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.project-info {
  background: var(--white);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--react-color);
}

.project-info h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  letter-spacing: var(--letter-spacing);
}

.project-info .project-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: var(--react-color);
  width: 100%;
  transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
}

.project-icon a {
  display: grid;
  justify-content: center;
  align-items: center;
}

.project-info .project-icon:hover {
  color: var(--primary-700);
  background: var(--primary-100);
  border-radius: var(--border-radius);
}
